#unit {
  background: #222;
  border-radius: 12px; }
  #unit #head {
    padding: 12px;
    display: flex; }
    #unit #head > * {
      margin: 6px; }
    #unit #head #title {
      font-size: 60px;
      font-family: Arial;
      font-weight: bold;
      color: #f0db4f; }
    #unit #head #osc {
      border-radius: 6px;
      margin-left: auto;
      background: #111; }
  #unit #input #vol {
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    height: 100px;
    width: 32px; }
  #unit #body {
    display: flex;
    background: grey; }
    #unit #body #board {
      padding: 6px;
      display: flex; }
      #unit #body #board #black {
        position: absolute; }
      #unit #body #board #white,
      #unit #body #board #black {
        display: flex; }
        #unit #body #board #white div,
        #unit #body #board #black div {
          padding: 6px;
          margin: 6px;
          width: calc((0.875in) / 2); }
          #unit #body #board #white div .key,
          #unit #body #board #black div .key {
            width: calc((0.875in) / 2);
            border-radius: 0 0 6px 6px;
            box-shadow: 0 10px #333;
            cursor: pointer; }
      #unit #body #board #white div .key {
        background: #f1f1f1;
        height: calc(6in / 2); }
      #unit #body #board #black {
        margin-left: calc(((0.875in) / 2) - 12px); }
        #unit #body #board #black div div {
          background: #161616;
          height: calc((5in / 8) * 3); }
    #unit #body #launchpad {
      border-collapse: collapse;
      margin: 12px;
      background: #333;
      border: 6px solid #333; }
      #unit #body #launchpad td {
        width: calc((6in / 2 / 3) - 4px);
        height: calc((6in / 2 / 3 - 4px));
        padding: 6px; }
        #unit #body #launchpad td div {
          border-radius: 6px;
          background: #444;
          width: inherit;
          height: inherit;
          box-shadow: 1.6px 1.6px 1.6px 1.6px #161616;
          cursor: pointer; }
