@font-face  {
	font-family: Neutra Text Bold;
	src: url("Neutra-Text-Bold.otf");
}

$js: #f0db4f;

* {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

#unit {
	background: #222;
	border-radius: 12px;
	// border-bottom: 60px solid #161616;
	box-shadow: 0 40px #161616;

	#head {
		padding: 12px;
		display: flex;

		> * {
			margin: 6px;
		}

		#title {
			flex-grow: 3;
			padding: 6px;
			font-size: 40px;
			// line-height: calc((256px / 2) + (40px / 2));
			font-family: Neutra Text Bold;
			font-weight: bold;
			color: $js;
		}

		#vol {
			background: #111;
			margin: 6px;
			padding: 6px;
			border-radius: 6px;
			height: calc(64px + 32px);

			> div {
				padding: 8px;
				margin-left: 8px;
				margin-right: 8px;

				#track,
				.active {
					width: 4px;
				}

				#track {
					height: calc(64px + 16px);
					background: #080808;
				}

				.active {
					position: absolute;
					background: $js;
				}

				#thumb {
					position: absolute;
					height: 10px;
					padding: 4px;
					border-radius: 6px;
					margin-left: -14px;
					margin-top: -10px;
					background: #222;
					box-shadow: 0px 0px 1px 1px #111;
					cursor: pointer;
				}
			}
		}

		#osc {
			border-radius: 6px;
			margin-left: auto;
			background: #111;
		}
	}

	#input {
		#mod {
			display: flex;
			flex-direction: column;
			padding: 8px;
			margin: 16px;
			border-radius: 6px;
			background: #111;

			.body {
				display: flex;
			}

			.port {
				margin: 8px;
				font-family: Arial;
				font-size: 10px;
				text-transform: uppercase;
				// font-size: 12px;
				// letter-spacing: 4px;
				font-weight: bold;
				text-align: center;
				color: grey;
				cursor: pointer;

				.body {
					display: flex;

					div {
						flex-grow: 1;
					}
				}

				.nut {
					filter: drop-shadow(0 6px 6px #111);
					width: 50px;
					height: 50px;
				}
			}

			.cable {
				position: absolute;
				pointer-events: none;
				left: 0;
				top: 0;
			}
		}
	}

	#body {
		display: flex;

		#board {
			padding: 6px;
			display: flex;
			padding-right: 30px;

			#white,
			#black {
				display: flex;

				div {
					padding: 6px;
					margin: 6px;
					width: calc((0.875in) / 2);

					.key {
						width: calc((0.875in) / 2);
						border-radius: 0 0 6px 6px;
						box-shadow: 0 10px #333;
						cursor: pointer;
					}
				}
			}

			#white {
				div {
					.key {
						background: #f1f1f1;
						height: calc(6in / 2);
					}
				}
			}

			#black {
				margin-left: calc(((0.875in) / 2) - 12px);
				position: absolute;

				div {
					div {
						background: #161616;
						height: calc((5in / 8) * 3);
					}
				}
			}
		}

		#launchpad {
			// todo fix 1 px margin on divs (?)
			border-collapse: collapse;
			margin: 12px;
			background: #333;
			border: 6px solid #333;

			td {
				width: calc((6in / 2 / 3) - 4px);
				height: calc((6in / 2 / 3 - 4px));
				padding: 6px;

				div {
					border-radius: 6px;
					background: #444;
					width: inherit;
					height: inherit;
					// glowing :D
					// box-shadow: 1.6px 1.6px 1.6px 1.6px $js;
					// box-shadow: 1.6px 1.6px 1.6px 1.6px #161616;
					// box-shadow: 0 0 6px 0 #161616;
					// box-shadow: 0 4px 2px -2px #161616;
					box-shadow: 0 4px 0 0 #161616;
					cursor: pointer;
				}
			}
		}
	}
}

.dial {
	padding: calc(64px);
	margin: 8px;
	background: #111;
	border-radius: 6px;
	padding-left: 100px;
	padding-right: 100px;
	display: flex;

	div {
		margin: auto;

		svg {
			cursor: pointer;
			position: absolute;
			margin-left: -32px;
			margin-top: -32px;

			&#shadow {
				margin-top: 68px;
			}

			text {
				font-family: Arial;
				font-weight: bold;
				text-transform: uppercase;
				fill: grey;
				// letter-spacing: 4px;
				font-size: 12px;
			}
		}
	}
}

#sys {
	.node {
		padding: 8px;

		.head {
			h3 {
				text-align: center;
				font-family: Arial;
				color: grey;
			}
		}

		.body {
			.form {
				.input {
					margin: 8px;
				}

				.wave {
					display: flex;
					margin: 8px;
					padding: 8px;
					border-radius: 6px;
					background: #111;
				}
			}

			.attr {
				display: flex;

				> div {
					flex-grow: 1;
				}
			}
		}
	}
}
